<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.apizzamichigan.classifier-reconciler</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd /Users/ant/clawd/projects/apizzamichigan &amp;&amp; /usr/local/bin/node scripts/ops/reconcile-classifier-queue.mjs --apply</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/ant/clawd/projects/apizzamichigan</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>StandardOutPath</key>
  <string>/tmp/apizzamichigan/classifier-reconciler.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/apizzamichigan/classifier-reconciler.log</string>
</dict>
</plist>
