<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.apizzamichigan.menu-parser</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd /srv/apizzamichigan &amp;&amp; /usr/local/bin/node scripts/enrichment/slowlane/menu-parse-worker.mjs --max-jobs 100</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MENU_PARSE_MAX_JOBS</key>
    <string>100</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/srv/apizzamichigan</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StartInterval</key>
  <integer>120</integer>
  <key>StandardOutPath</key>
  <string>/tmp/apizzamichigan/menu-parser.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/apizzamichigan/menu-parser.log</string>
</dict>
</plist>
